.about-us {
    max-width: 1000px;

    padding: 0 20px;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px) {
    .about-us {
        padding: 0 40px;
    }
}

@media (min-width: 768px) {
    .about-us {
        padding: 0 52px;
    }
}

.pasta {
    font-size: var(--text-lg);
    text-align: justify;
}

.pasta > strong {
    font-size: calc(var(--text-lg) + 1px);
}

@media (min-width: 768px) {
    .pasta {
        font-size: var(--text-xl);
    }

    .pasta > strong {
        font-size: calc(var(--text-xl) + 1px);
    }
}

.socials {
    margin-top: 40px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

@media (min-width: 480px) {
    .socials {
        gap: 34px;
    }
}

.instagram-icon,
.facebook-icon {
    width: 44px;
    height: 44px;
}

@media (min-width: 480px) {
    .instagram-icon,
    .facebook-icon {
        width: 48px;
        height: 48px;
    }
}

.instagram-icon {
    fill: #e1306c;
}

.facebook-icon {
    fill: var(--color-blue-600);
}
