/**
 * <ContactUs />
 */

.contact-us {
    max-width: 920px;
    width: calc(100% - 80px);
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 40px;
}

@media (min-width: 540px) {
    .contact-us {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.contact-us > h1 {
    font-size: var(--text-2xl);
    font-weight: 600;
    text-align: center;
}

@media (min-width: 540px) {
    .contact-us > h1 {
        font-size: var(--text-3xl);
        grid-column: span 2;
        margin-bottom: 12px;
    }
}

@media (min-width: 768px) {
    .contact-us > h1 {
        margin-bottom: 20px;
        font-size: var(--text-4xl);
    }
}
