/**
 * <Hero />
 */

.hero {
    width: 100vw;

    margin-top: 60px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 230px;
}

@media (min-width: 480px) {
    .logo {
        width: 280px;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 320px;
    }
}

.logo > .letters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 60px;
    transform: scaleY(1.1);
    line-height: 1;
}

@media (min-width: 480px) {
    .logo > .letters {
            font-size: 75px;
    }
}

@media (min-width: 768px) {
    .logo > .letters {
        font-size: 80px;
    }
}

.slogan {
    max-width: 540px;
    width: 90%;
    margin: 36px auto;
    text-align: center;
    font-size: var(--text-xl);
    color: #777;
    text-align: center;
}

@media (min-width: 768px) {
    .slogan {
        font-size: var(--text-2xl);
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media (min-width: 480px) {
    .button-group {
        flex-direction: row;
        gap: 50px;
    }
}

.button-group > button {
    width: 200px;
    height: 48px;
    border-radius: 8px;
    font-size: var(--text-base);
}

@media (min-width: 480px) {
    .button-group > button {
        width: fit-content;
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    .button-group > button {
        font-size: var(--text-lg);
    }
}

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    background: var(--color-blue-600);
}

.contact-us > .phone-icon {
    width: 25px;
    fill: white;
}

@media (min-width: 768px) {
    .contact-us > .phone-icon {
        width: 27px;
    }
}

.donate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
    background: var(--color-red-500);
}

.donate > .heart-icon {
    width: 25px;
    fill: white;
    stroke-width: 1.5;
}

@media (min-width: 768px) {
    .donate > .heart-icon {
        width: 27px;
    }
}

.donate > span {
    margin-top: 1px;
}
