/**
 * <Hero />
 */

.hero {
    width: 100vw;
    height: calc(100vh - 48px);
    min-height: 764px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70%;
    margin: 0 auto;
}

@media (min-width: 440px) {
    .logo {
        width: 330px;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 380px;
    }
}

@media (min-width: 1024px) {
    .logo {
        width: 400px;
        margin-bottom: 20px;
    }
}

.hero > h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 auto;
}

.hero > p {
    max-width: 650px;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #777;
    text-align: center;
}

@media (min-width: 768px) {
    .hero > h1 {
        font-size: 36px;
    }

    .hero > p {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .hero > h1 {
        font-size: 45px;
    }

    .hero > p {
        font-size: 22px;
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media (min-width: 480px) {
    .button-group {
        flex-direction: row;
        gap: 50px;
    }
}

.button-group > button {
    width: 200px;
    height: 48px;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .button-group > button {
        width: fit-content;
        padding: 0 30px;
        font-size: 18px;
    }
}

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    background: var(--color-blue-600);
}

.contact-us > .phone-icon {
    width: 25px;
    fill: white;
}

@media (min-width: 768px) {
    .contact-us > .phone-icon {
        width: 27px;
    }
}

.donate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
    background: var(--color-red-500);
}

.donate > .heart-icon {
    width: 25px;
    fill: white;
    stroke-width: 1.5;
}

@media (min-width: 768px) {
    .donate > .heart-icon {
        width: 27px;
    }
}

.donate > span {
    margin-top: 1px;
}
