/**
 * <Section />
 */

.section {
    margin-top: 120px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

@media (min-width: 1024px) {
    .section {
        gap: 52px;
    }

    .section-left {
        grid-template-columns: 0.45fr 0.55fr;
        padding-right: 60px;
        text-align: left;
    }

    .section-left > :first-child {
        grid-column: 2;
        grid-row: 1;
    }

    .section-left > :last-child {
        grid-column: 1;
        grid-row: 1;
    }

    .section-right {
        grid-template-columns: 0.55fr 0.45fr;
        padding-left: 60px;
        text-align: right;
    }

    .section-right > :first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .section-right > :last-child {
        grid-column: 2;
        grid-row: 1;
    }
}

.section > .content {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .section > .content {
        width: calc(100% - 60px);
    }
}

.section > .content > h1 {
    font-size: var(--text-2xl);
    font-weight: 600;
}

.section > .content > p {
    font-size: var(--text-lg);
}

@media (min-width: 768px) {
    .section > .content > h1 {
        font-size: var(--text-3xl);
    }

    .section > .content > p {
        font-size: var(--text-xl);
    }
}

@media (min-width: 1024px) {
    .section > .content > h1 {
        font-size: var(--text-5xl);
        line-height: 60px;
    }
}

.section > .slides .slide {
    flex: 0 0 fit-content;
    padding-left: 20px;
    margin-right: calc(60px - 20px);
}

@media (min-width: 768px) {
    .section > .slides .slide {
        padding-left: 30px;
        margin-right: calc(60px - 30px);
    }
}

@media (min-width: 1024px) {
    .section > .slides .slide {
        padding: 0;
    }

    .section-left > .slides .slide {
        margin-left: 60px;
    }

    .section-right > .slides .slide {
        margin-right: 60px;
    }
}

.section > .slides .slide > div {
    max-width: calc(100vw - 40px);
    width: 260px;
    aspect-ratio: 1/1;
    border: 2px solid #000;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

@media (min-width: 768px) {
    .section > .slides .slide > div {
        width: 290px;
        aspect-ratio: 4/5;
    }
}

@media (min-width: 1024px) {
    .section > .slides .slide > div {
        width: 300px;
        aspect-ratio: 2/3;
    }
}
