/**
 * <Section />
 */

.section {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 1024px) {
    .section-left {
        flex-direction: row-reverse;
    }

    .section-right {
        text-align: right;
        flex-direction: row;
    }
}

@media (min-width: 1280px) {
    .section {
        width: 95%;
    }

    .section-left {
        margin-right: auto;
    }

    .section-right {
        margin-left: auto;
    }
}

.section > .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 20px;
}

@media (min-width: 480px) {
    .section > .content {
        padding: 0 40px;
    }
}

@media (min-width: 768px) {
    .section > .content {
        padding: 0 52px;
    }
}

@media (min-width: 1024px) {
    .section > .content {
        width: 55%;
    }
}

.section > .content > h1 {
    font-size: var(--text-2xl);
    font-weight: 600;
}

.section > .content > p {
    font-size: var(--text-lg);
}

@media (min-width: 768px) {
    .section > .content > h1 {
        font-size: var(--text-3xl);
    }

    .section > .content > p {
        font-size: var(--text-xl);
    }
}

@media (min-width: 1024px) {
    .section > .content > h1 {
        font-size: var(--text-5xl);
        line-height: 60px;
    }
}

.section > .slides {
    width: 100%;
}

@media (min-width: 1024px) {
    .section > .slides {
        width: 45%;
    }
}

.section > .slides .slide {
    flex: 0 0 100%;
    max-width: 310px;
    aspect-ratio: 3/4;
    padding: 0 20px;
}

@media (min-width: 330px) {
    .section > .slides .slide {
        padding: 0 0 0 20px;
    }
}

@media (min-width: 480px) {
    .section > .slides .slide {
        padding: 0 0 0 40px;
    }
}

@media (min-width: 768px) {
    .section > .slides .slide {
        padding: 0 0 0 52px;
    }
}

@media (min-width: 1024px) {
    .section > .slides .slide {
        aspect-ratio: 3/5;
    }

    .section-left > .slides .slide {
        padding: 0 0 0 40px;
    }

    .section-right > .slides .slide {
        padding: 0 40px 0 0;
    }
}

.section > .slides .slide > div {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}
