/**
 * <Footer />
 */

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
}

.footer {
    position: relative;

    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: var(--text-sm);
    line-height: 20px;
}

@media (min-width: 480px) {
    .footer {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (min-width: 768px) {
    .footer {
        margin-left: 52px;
        margin-right: 52px;
    }
}

@media (min-width: 796px) {
    .footer {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 0;
    }
}

@media (min-width: 1000px) {
    .footer {
        width: 960px;
        margin-left: auto;
        margin-right: auto;

    }
}

.credit > a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-gray-500);
}

@media (min-width: 796px) {
    .credit {
        margin-left: auto;
    }
}

.credit > a:hover {
    color: var(--color-gray-400);
}

.legal {
    margin-top: 16px;
}

@media (min-width: 796px) {
    .legal {
        margin-top: 0px;
        margin-left: 20px;
    }
}

@media (min-width: 860px) {
    .legal {
        margin-left: 52px;
    }
}

@media (min-width: 1024px) {
    .legal {
        margin-left: 10%;
    }
}
