/**
 * <Header />
 */

.header {
    top: 0;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    background: white;
}

.logo {
    height: 30px;
    cursor: pointer;
}

.links {
    display: none;
}

@media (min-width: 768px) {
    .links {
        display: flex;
        gap: 30px;
    }
}

.spacing {
    flex: 1;
}

@media (min-width: 768px) {
    .spacing {
        display: none;
    }
}

.donate {
    width: 28px;
    height: 28px;
    color: var(--color-red-500);
    fill: var(--color-red-500);
}

.contact-us {
    width: 25px;
    height: 25px;
    fill: var(--color-blue-500);
}
