.team {
    width: calc(100% - 60px);
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    .team {
        width: 960px;
    }
}

.team > h1 {
    font-size: var(--text-2xl);
    font-weight: 600;
    text-align: center;
}

@media (min-width: 420px) {
    .team > h1 {
        font-size: var(--text-3xl);
    }
}

@media (min-width: 768px) {
    .team > h1 {
        font-size: var(--text-4xl);
    }
}

@media (min-width: 1024px) {
    .team > h1 {
        font-size: calc(var(--text-4xl) + 5px);
    }
}

.people {
    margin-top: 52px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 60px 52px;
}

@media (min-width: 540px) {
    .people {
        grid-template-columns: repeat(3, 150px);
        gap: 60px 0;
    }
}

@media (min-width: 768px) {
    .people {
        grid-template-columns: repeat(4, 165px);
    }
}

@media (min-width: 1024px) {
    .people {
        grid-template-columns: repeat(4, 180px);
    }
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.name {
    margin-top: 12px;
    font-weight: 500;
    font-size: var(--text-lg);
}

@media (min-width: 768px) {
    .name {
        font-size: var(--text-xl);
        font-weight: 600;
    }
}

@media (min-width: 1024px) {
    .name {
        font-size: var(--text-2xl);
    }
}

@media (min-width: 768px) {
    .role {
        font-size: var(--text-lg);
    }
}

@media (min-width: 1024px) {
    .role {
        font-size: var(--text-xl);
    }
}
